@keyframes moveToBottom {
    0% {
        opacity: 0;
        transform: translateY(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes moveToTop {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

// @keyframes moveToLeft {
//     0% {
//         opacity: 0;
//         transform: translateX(8rem);
//     }

//     100% {
//         opacity: 1;
//         transform: translateX(0);
//     }
// }

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: greenyellow; }
  }