.header {
    width: 100%;
    height: 90vh;
    color: $font-color-grey;
    background-image: 
        linear-gradient(
            to bottom,
            rgba($color-primary, 1),
            rgba($color-tertiary, 1)
        ),
        url("../images/bg-hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    margin-top: 8rem;
    text-align: center;

    @include responsive(phone) {
        margin-top: 0;
    }


    &__text-box {
        position: absolute;
        width: 55%;
        top: 35%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
        //padding-top: 7rem;
        font-size: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include responsive(tab-portrait) {
            width: 90%;
            left: 50%;
        }

        @include responsive(phone) {
            width: 80%;
            top: 30%;
        }

        @include responsive(phone-narrow) {
            width: 100%;
        }
    }

    &__line {
        position: absolute;
        width: 100vw;
        height: 1px;
        background-color: whitesmoke;
        top: 38%;
        left: 0;
        //transform: translate(-50%, -50%);
        position: absolute;

        @include responsive(tab-landscape) {
            top: 39%;
        }

        // @include responsive(tab-portrait) {
        //     top: 37%;
        // }

        @include responsive(phone) {
            top: 33%;
        }

        @include responsive(phone-narrow) {
            top: 29%;
        }
    }

    // &__arrows {
    //     position: absolute;
    //     top: 80%;
    //     left: 50%;
    //     font-size: 3rem;
    //     color: $font-color-grey;
    //     font-weight: 700;
    //     transform: rotate(90deg);

    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
        
    // }
}

.section-about {
    width: 100%;
    background-color: $color-tertiary;
    padding: 35rem 0 75rem 0;
    color: $font-color-grey;
    font-size: $default-font-size;
    position: relative;
    margin-bottom: -10rem;

    @include responsive(wide-desktop) {
        padding: 65rem 0 85rem;
        margin-bottom: -8rem;
    }

    @include responsive(tab-portrait) {
        padding: 35rem 0 95rem;
        margin-bottom: -15rem;
    }

    @include responsive(phone) {
        //padding: 35rem 0 94rem;
        margin-bottom: -28rem;
    }

    @include responsive(phone-narrow) {
        padding: 40rem 0 100rem;
        margin-bottom: -4rem;
    }

    
    &__content {
        width: 90%;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 8rem 5rem;
        position: absolute;
        top: 15rem;
        right: 0;
        transform: translateX(8rem);
        opacity: 0;
        transition: all 1s;

        display: flex;
        justify-content: space-around;
        align-items: flex-start;

        @media (prefers-reduced-motion: no-preference) {
            &-animation {
                @include transitionToLeft;
                // animation-name: moveToLeft;
                // animation-duration: 1s;
                // animation-timing-function: ease-out;
            }
          }

        @include responsive(tab-landscape) {
            padding: 8rem 5rem;
        }

        @include responsive(tab-portrait) {
            width: 100%;
        }

        @include responsive(phone) {
            padding: 3rem 4rem 15rem;
            width: 100%;

            justify-content: space-between;
        }

        @include responsive(phone-narrow) {
            padding: 6rem 3.5rem;
            
            flex-direction: column;
        }

        @include responsive(wide-desktop) {
            padding: 8rem;
            top: 30%;
        }
    }

    &__text {
        width: 80%;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;

        @include responsive(phone) {
            width: 95%;
        }

        @include responsive(phone-narrow) {
            margin-top: 4rem;
        }
    }
}

.section-technologies {
    background-color: $color-primary;
    padding: 20rem 0;
    transform: skewY(-5deg);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include responsive(phone) {
        padding: 15rem 0;
    }

    @include responsive(wide-desktop) {
        padding: 20rem 0;
    }

    & > * {
        transform: skewY(5deg);
    }

    &__content{
        list-style: none;
        margin: 8rem 5rem 4rem;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;

        @include responsive(tab-portrait) {
            width: 82%;
            grid-template-columns: repeat(2, 1fr);
            margin: 6rem 4rem 4rem;
        }

        @include responsive(phone) {
            margin: 4rem;

            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;
        }

        @include responsive(phone-narrow) {
            grid-template-columns: 1fr;
        }
    }    
}

.section-projects {
    background-color: $color-tertiary;
    padding: 40rem 0 5rem;
    margin-top: -20rem;
    width: 100%;
    color: whitesmoke;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include responsive(phone) {
        padding: 30rem 0 5rem;
    }

    @include responsive(wide-desktop) {
        padding: 60rem 0 20rem;
    }

    &__content {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
        margin: 8rem 5rem 4rem;

        @include responsive(tab-landscape) {
            grid-gap: 2rem;
        }

        @include responsive(tab-portrait) {
            grid-template-columns: 1fr;
            grid-gap: 4rem;
        }

        @include responsive(phone) {
            margin: 4rem;

            grid-template-columns: 1fr;
            grid-gap: 5rem;
        }

        @include responsive(wide-desktop) {
            width: 85%;
            grid-gap: 3rem;
        }
    }
}