.header {
    width: 100%;
    height: 90vh;
    color: $font-color-grey;
    background-image: 
        linear-gradient(
            to bottom,
            rgba($color-primary, 1),
            rgba($color-tertiary, 1)
        ),
        url("../images/bg-hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    margin-top: 8rem;
    text-align: center;


    &__text-box {
        position: relative;
        width: 55%;
        top: 35%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
        //padding-top: 7rem;
        font-size: 1.5rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__line {
        position: absolute;
        width: 500%;
        height: 1px;
        background-color: whitesmoke;
        top: 63%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &__arrows {
        position: absolute;
        top: 80%;
        left: 50%;
        font-size: 3rem;
        color: $font-color-grey;
        font-weight: 700;
        transform: rotate(90deg);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}

.section-about {
    width: 100%;
    background-color: $color-tertiary;
    padding: 35rem 0 60rem 0;
    color: $font-color-grey;
    font-size: $default-font-size;
    position: relative;
    margin-bottom: -15rem;

    
    &__content {
        width: 90%;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 2rem;
        position: absolute;
        top: 25rem;
        right: 0;

        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    &__text {
        width: 50%;
        font-weight: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}

.section-technologies {
    background-color: $color-primary;
    padding: 20rem 0;
    transform: skewY(-6deg);
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    & > * {
        transform: skewY(6deg);
    }

    &__content{
        width: 100%;
        list-style: none;
        margin-top: 8rem;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3px;
    }

    &__block {
        padding: 5rem;
        background-color: rgba(0,0,0,.15);
    }

    &__tech {
        font-size: 2rem;
        font-style: italic;
        background-image: linear-gradient(to right bottom, 
            rgba($color-secondary, .7), 
            rgba($color-secondary, .5));
    }
}

.section-projects {
    background-color: $color-tertiary;
    padding: 40rem 0 5rem;
    margin-top: -20rem;
    width: 100%;
    color: whitesmoke;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    &__content {
        list-style: none;
    }

    &__project-card {
        background-color: rgba(0,0,0,.15);
        padding: 2rem;
        margin: .6rem;
        border-radius: 5px;
    }
}