*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: #FFA500;
  color: black; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: #696969; }

.heading-primary {
  color: #F5F5F5;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2rem;
    margin-bottom: 3rem;
    animation-name: moveToBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--main {
        margin-bottom: 0; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        font-size: 4rem;
        letter-spacing: 1.5rem;
        margin-bottom: 0; } }
    @media only screen and (max-width: 33.75em) {
      .heading-primary--main {
        font-size: 2.4rem;
        letter-spacing: 1.3rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 1.5rem;
    margin-top: 3rem;
    animation-name: moveToTop;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 56.25em) {
      .heading-primary--sub {
        margin-top: 0; } }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        font-size: 1.5rem;
        font-weight: 100;
        letter-spacing: 1rem;
        margin-top: 0; } }
    @media only screen and (max-width: 33.75em) {
      .heading-primary--sub {
        font-size: 1rem;
        letter-spacing: .5rem;
        margin-bottom: 3rem; } }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #102542;
  letter-spacing: 2.5rem; }
  .heading-secondary--light {
    color: #CDD7D6; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      letter-spacing: 1.5rem; } }
  @media only screen and (max-width: 33.75em) {
    .heading-secondary {
      font-size: 2.2rem;
      letter-spacing: 1.2rem;
      font-weight: 400; } }

.heading-tertiary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700; }
  .heading-tertiary--light {
    color: #CDD7D6; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveToTop {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8rem;
  background-color: #102542;
  text-align: right;
  font-size: 2rem;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  @media only screen and (max-width: 33.75em) {
    .navigation {
      height: 5rem;
      font-size: 1.5rem; } }
  .navigation__list {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        font-size: 1.9rem; } }
    @media only screen and (max-width: 33.75em) {
      .navigation__list {
        width: 100%; } }
  .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    color: #F5F5F5;
    margin-right: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-right: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__link:link, .navigation__link:visited {
        margin-right: 5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__link:link, .navigation__link:visited {
        margin-right: 4rem; } }
    @media only screen and (max-width: 33.75em) {
      .navigation__link:link, .navigation__link:visited {
        margin-right: 2rem; } }

.footer {
  background-color: #36454F;
  padding: 3.5rem 0;
  font-size: 1.2rem;
  color: #CDD7D6;
  width: 100%;
  background-color: #36454F;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      flex-direction: column-reverse; } }
  .footer:not(:last-child) {
    margin-bottom: 2rem; }
  .footer__contact-info {
    width: 40%;
    padding: 1rem 0;
    border-top: 1px solid #696969;
    border-bottom: 1px solid #696969;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column; }
    .footer__contact-info > * {
      margin: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__contact-info {
        width: 80%;
        border-top: hidden;
        flex-direction: row;
        justify-content: space-evenly; }
        .footer__contact-info > * {
          margin-left: 0; } }
    @media only screen and (max-width: 33.75em) {
      .footer__contact-info {
        flex-direction: column;
        align-items: center; } }
  .footer__copyright {
    width: 45%;
    font-size: 2rem;
    padding: 2.5rem;
    margin: 0;
    font-weight: 100; }
    @media only screen and (max-width: 56.25em) {
      .footer__copyright {
        width: 95%; } }
    @media only screen and (max-width: 33.75em) {
      .footer__copyright {
        width: 100%;
        font-size: 1.5rem;
        padding: 2rem; } }
  .footer__email {
    text-align: left;
    font-size: 2rem;
    margin-left: 5rem; }
    @media only screen and (max-width: 33.75em) {
      .footer__email {
        text-align: center;
        margin-left: 0; } }
  .footer__social-media {
    margin-left: 4rem; }
    @media only screen and (max-width: 33.75em) {
      .footer__social-media {
        margin-left: 0; } }
  .footer__link img {
    width: 3.5rem;
    height: auto;
    margin: .5rem 1rem 0 2rem; }
    @media only screen and (max-width: 33.75em) {
      .footer__link img {
        width: 4rem;
        margin: .5rem 2rem; } }
  @media only screen and (max-width: 33.75em) {
    .footer__link img {
      width: 4rem;
      height: auto;
      margin: .5rem 2rem; } }

.header {
  width: 100%;
  height: 90vh;
  color: #696969;
  background-image: linear-gradient(to bottom, #102542, #cdd7d6), url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  margin-top: 8rem;
  text-align: center; }
  @media only screen and (max-width: 33.75em) {
    .header {
      margin-top: 5rem; } }
  .header__text-box {
    position: absolute;
    width: 55%;
    top: 35%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 56.25em) {
      .header__text-box {
        width: 90%;
        left: 50%; } }
    @media only screen and (max-width: 37.5em) {
      .header__text-box {
        width: 80%;
        top: 30%; } }
    @media only screen and (max-width: 33.75em) {
      .header__text-box {
        width: 100%; } }
  .header__line {
    position: absolute;
    width: 100vw;
    height: 1px;
    background-color: whitesmoke;
    top: 38%;
    left: 0;
    position: absolute; }
    @media only screen and (max-width: 75em) {
      .header__line {
        top: 39%; } }
    @media only screen and (max-width: 37.5em) {
      .header__line {
        top: 33%; } }
    @media only screen and (max-width: 33.75em) {
      .header__line {
        top: 29%; } }

.section-about {
  width: 100%;
  background-color: #CDD7D6;
  padding: 35rem 0 75rem 0;
  color: #696969;
  font-size: 1.8rem;
  position: relative;
  margin-bottom: -10rem; }
  @media only screen and (min-width: 112.5em) {
    .section-about {
      padding: 65rem 0 85rem;
      margin-bottom: -8rem; } }
  @media only screen and (max-width: 56.25em) {
    .section-about {
      padding: 35rem 0 95rem;
      margin-bottom: -15rem; } }
  @media only screen and (max-width: 37.5em) {
    .section-about {
      margin-bottom: -28rem; } }
  @media only screen and (max-width: 33.75em) {
    .section-about {
      padding: 40rem 0 100rem;
      margin-bottom: -4rem; } }
  .section-about__content {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 8rem 5rem;
    position: absolute;
    top: 15rem;
    right: 0;
    transform: translateX(8rem);
    opacity: 0;
    transition: all 1s;
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    @media (prefers-reduced-motion: no-preference) {
      .section-about__content-animation {
        opacity: 1;
        transform: translateX(0); } }
    @media only screen and (max-width: 75em) {
      .section-about__content {
        padding: 8rem 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-about__content {
        width: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .section-about__content {
        padding: 3rem 4rem 15rem;
        width: 100%;
        justify-content: space-between; } }
    @media only screen and (max-width: 33.75em) {
      .section-about__content {
        padding: 6rem 3.5rem;
        flex-direction: column; } }
    @media only screen and (min-width: 112.5em) {
      .section-about__content {
        padding: 8rem;
        top: 30%; } }
  .section-about__text {
    width: 80%;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start; }
    @media only screen and (max-width: 37.5em) {
      .section-about__text {
        width: 95%; } }
    @media only screen and (max-width: 33.75em) {
      .section-about__text {
        margin-top: 4rem; } }

.section-technologies {
  background-color: #102542;
  padding: 20rem 0;
  transform: skewY(-5deg);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .section-technologies {
      padding: 15rem 0; } }
  @media only screen and (min-width: 112.5em) {
    .section-technologies {
      padding: 20rem 0; } }
  .section-technologies > * {
    transform: skewY(5deg); }
  .section-technologies__content {
    list-style: none;
    margin: 8rem 5rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .section-technologies__content {
        width: 82%;
        grid-template-columns: repeat(2, 1fr);
        margin: 6rem 4rem 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-technologies__content {
        margin: 4rem;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem; } }
    @media only screen and (max-width: 33.75em) {
      .section-technologies__content {
        grid-template-columns: 1fr; } }

.section-projects {
  background-color: #CDD7D6;
  padding: 40rem 0 5rem;
  margin-top: -20rem;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .section-projects {
      padding: 30rem 0 5rem; } }
  @media only screen and (min-width: 112.5em) {
    .section-projects {
      padding: 60rem 0 20rem; } }
  .section-projects__content {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 8rem 5rem 4rem; }
    @media only screen and (max-width: 75em) {
      .section-projects__content {
        grid-gap: 2rem; } }
    @media only screen and (max-width: 56.25em) {
      .section-projects__content {
        grid-template-columns: 1fr;
        grid-gap: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .section-projects__content {
        margin: 4rem;
        grid-template-columns: 1fr;
        grid-gap: 5rem; } }
    @media only screen and (min-width: 112.5em) {
      .section-projects__content {
        width: 85%;
        grid-gap: 3rem; } }

.project-card {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 4rem 2rem;
  margin: 0;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-4rem);
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch; }
  .project-card-animation {
    opacity: 1;
    transform: translateY(0); }
  .project-card__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 1rem; }
    @media only screen and (max-width: 33.75em) {
      .project-card__title {
        font-size: 2.6rem;
        letter-spacing: .5rem; } }
  .project-card__description {
    font-size: 1.8rem; }
  .project-card__buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    @media only screen and (max-width: 33.75em) {
      .project-card__buttons {
        flex-direction: column; }
        .project-card__buttons > * {
          margin: 1rem 0;
          width: 90%; } }

.technology-card {
  padding: 3rem;
  border-radius: 8px;
  background-color: rgba(205, 215, 214, 0.15);
  color: #102542;
  opacity: 0;
  transform: translateY(-4rem);
  transition: all 1s; }
  .technology-card-animation {
    opacity: 1;
    transform: translateY(0); }
  .technology-card__tech {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    background-image: linear-gradient(to right bottom, rgba(255, 165, 0, 0.7), rgba(255, 165, 0, 0.5)); }

.button, .button:link, .button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  font-size: 1.8rem;
  position: relative;
  transition: all .3s; }
  @media only screen and (max-width: 75em) {
    .button, .button:link, .button:visited {
      padding: 1.5rem; } }

.button:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-3px); }
  .button:hover::after {
    transform: scaleX(1.2) scaleY(1.4);
    opacity: 0; }

.button:active, .button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.button--github {
  background-color: #102542;
  color: #F5F5F5; }
  .button--github::after {
    background-color: #102542; }

.button--url {
  background-color: #FFA500;
  color: #696969; }
  .button--url::after {
    background-color: #FFA500; }

.button::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }
