//COLORS
$color-primary: #102542;
$color-secondary: #FFA500;
$color-tertiary: #CDD7D6;

$font-color-grey: #696969;
$font-color-white: #F5F5F5;

$color-background-grey: #36454F;
$color-background-white:#F0F8FF;


//FONT
$default-font-size: 1.8rem;


//LAYOUT
