//COLORS
$color-primary: #102542;
$color-secondary: #F87060;
$color-tertiary: #CDD7D6;

$font-color-grey: #696969;
$font-color-white: #F5F5F5;

$color-background-grey: #36454F;


//FONT
$default-font-size: 1.6rem;


//LAYOUT
