.technology-card {
    padding: 2.4rem;
    border-radius: 8px;
    background-color: rgba($color-tertiary, .15);
    color: $color-primary;
    opacity: 0;
    transform: translateY(-4rem);
    transition: all 1s;

    &-animation {
        @include transitionToBottom;
    }


    &__tech {
        font-size: 2rem;
        font-style: italic;
        text-align: center;
        padding: 0 1.5rem;
        background-image: linear-gradient(to right bottom, 
            rgba($color-secondary, .7), 
            rgba($color-secondary, .5));


        // @include responsive(phone-narrow) {
        //     text-align: center;
        // }
    }
}