.footer {
    background-color: $color-background-grey;
    padding: 10rem 2rem;
    font-size: 1.2rem;
    color: $color-tertiary;
    width: 100%;
    background-color: #36454F;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include responsive(tab-portrait) {
        flex-direction: column-reverse;
    }
    
    // &:not(:last-child) {
    //     margin-bottom: 2rem;
    // }

    &__contact-info {
        width: 40%;
        padding: 1rem 0 1rem 8rem;
        border-top: 1px solid $font-color-grey;
        border-bottom: 1px solid $font-color-grey;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        
        & > * {
            margin: .5rem 0;
        }

        @include responsive(tab-portrait) {
            width: 80%;
            border-top: hidden;
            padding: 2rem 0;

            & > * {
                margin-left: 0;
            }

            justify-content: space-evenly;
            align-items: center;
        }

        // @include responsive(phone-narrow) {
            
        //     flex-direction: column;
        //     align-items: center;
        // }
    }

    &__copyright {
        width: 45%;
        font-size: 2rem;
        padding: 2.5rem;
        margin: 0;
        font-weight: 100;

        @include responsive(tab-portrait) {
            width: 95%
        }

        @include responsive(phone-narrow) {
            width: 100%;
            font-size: 1.5rem;
            padding: 2rem;
        }
    }

    &__email,
    &__phone {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__email-img,
    &__phone-img {
        width: 3.5rem;
        filter: invert(100%) sepia(4%) saturate(86%) hue-rotate(236deg) brightness(115%) contrast(92%);
    }

    &__email-direction,
    &__phone-number {
        text-decoration: none;
        color: $font-color-white;
        text-align: left;
        font-size: 2rem;
        margin-left: 2rem;

        @include responsive(phone-narrow) {
            text-align: center;
            margin-left: 1rem;
        }
    }

    &__social-media {
        margin-left: 3rem;

        @include responsive(tab-portrait) {
            margin-left: 0;
        }
    }

    &__link {
        &-resume {
            filter: invert(100%) sepia(4%) saturate(86%) hue-rotate(236deg) brightness(115%) contrast(92%);
        }

        img {
            width: 4rem;
            height: auto;
            margin: .5rem 1rem 0 2rem;

            @include responsive(phone-narrow) {
                margin: .5rem 2rem;
            }            
        }

        // @include responsive(phone-narrow) {
        //     img {
        //         margin: .5rem 2rem;
        //     }
        // }
    }
}