.footer {
    background-color: $color-background-grey;
    padding: 3.5rem 0;
    font-size: 1.2rem;
    color: $color-tertiary;
    width: 100%;
    background-color: #36454F;
    text-align: center;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include responsive(phone) {
        flex-direction: column;
    }
    
    &:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__contact-info {
        width: 40%;
        padding: 1rem 0;
        border-top: 1px solid $font-color-grey;
        border-bottom: 1px solid $font-color-grey;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        
        & > * {
            margin: .5rem;
        }

        @include responsive(phone) {
            width: 80%;
            border-bottom: hidden;

            & > * {
                margin-left: 0;
            }

            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &__copyright {
        width: 45%;
        font-size: 2rem;
        padding: 2.5rem;
        margin: 0;
        font-weight: 100;

        @include responsive(phone) {
            width: 95%
        }
    }

    &__email {
        text-align: left;
        font-size: 2rem;
        margin-left: 5rem;
    }

    &__social-media {
        margin-left: 4rem;
    }

    &__link {
        img {
            width: 3.5rem;
            height: auto;
            margin: .5rem 1rem 0 2rem;
        }
    }
    
}