.footer {
    background-color: $color-background-grey;
    padding: 5rem 0;
    font-size: 1.2rem;
    color: $font-color-grey;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        width: 5rem;
        height: auto;
    }

    &__contact-info {
        padding: 4rem 0;
        border-top: 1px solid $color-tertiary;
        border-bottom: 1px solid $color-tertiary;

        p {
            margin-bottom: 2rem;
        }
    }
}