.navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8rem;
    background-color: $color-primary;
    text-align: right;
    font-size: 2rem;
    z-index: 2;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include responsive(phone-narrow) {
        height: 5rem;
        font-size: 1.5rem;

        
    }


    &__list {
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;

        @include responsive(phone-narrow) {
            width: 100%;
        }
    }

    &__link {
        
        &:link,
        &:visited {
            text-decoration: none;
            color: $font-color-white;
            margin-right: 2rem;
            font-weight: 300;
            text-transform: uppercase;
            margin-right: 8rem;
        
            @include responsive (tab-portrait) {
                margin-right: 5rem;
            }

            @include responsive(phone) {
                margin-right: 4rem;
            }
        
            @include responsive(phone-narrow) {
                margin-right: 2rem;
            }
        }
        
    }
}